html,body{
    height: 20000px;
}


h3{
    /* 1. position定位 */
    position: static;
}


.box1{
    width: 300px;
    height: 300px;
    background-color: rgba(135, 207, 235, 0.715);


    /* 固定定位: 固定在浏览器窗口的定位 */
    /* 固定定位参照物是浏览器窗口 */
    position: fixed;

    /* 元素的左边距离参照物左边的距离*/
    left: 50px; 
    /* right: 0;  */

    /* top: 0; */
    bottom: 50px;


    /* 参照物宽高的百分比 */
    left: 50%;
    top: 50%;
}