/* 选择器: 选择元素，添加样式 


语法：
    css选择器{ 
        样式: 值;
        样式: 值;
        样式: 值;
        样式: 值;
    } 
*/

/* 1.元素选择器  */
/* (1).通配符选择器： 选择所有元素, 效率低，不使用  */
*{
   /* color: red; */
}

/* (2).标签名选择器: 直接使用标签名  */
p{
    color: black;
}

/* (3).类名选择器: .class  */
.aaa{
    background-color: yellow;
}
/* (4).id选择器:  #id, id是唯一的 */
#box{
    background-color: orange;
}

/* (5).交集选择器:   */
div.list{
    color: red;
}

/* (6).并集选择器：多个选择器用逗号隔开，它们共用一套样式  */
h1,
h3,
h5,
.list{
    color: blue;
}

/* 2.关系选择器  */
/* (1).子代选择器: 父元素>子元素  */
ul>li{
    /* 空心圆 */
    /* list-style-type:circle; */
}

/* (2).后代选择器: 祖先（空格）后代，包含选择器, 只要包含在内部即可  */
ul li{
    /* 实心方块 */
    list-style-type:square;
}

/* (3).兄弟选择器：~, 选中后面的兄弟元素  */
.first~li{
    color: red;
}

/* (4).相邻选择器：+, 选中后一个相邻元素 */
.once+li{
    color: blue;
}


/* 3.选择器优先级: !important关键字 > 内联样式(元素自身style设置属性) > id 选择器 > 类选择器(属性选择器、伪类选择器) > 元素选择器 > 通配符选择器 > 继承的样式 > 浏览器的默认样式 */

ul>.list{
    color: green;
}

.list{
    color: black;
}


/* 其他选择器: 下周再讲 */