/* 1. 盒子模型： 网页中的元素可以看成 一个一个 的盒子，每个盒子由四个部分组成： */
/* (1).margin 外边距 */
/* (2).border 边框 */
/* (3).padding 内边距 */
/* (4).content 内容 */

body,
hr {
    margin: 0;
}

div {
    width: 80px;
    height: 80px;
    /* 
    margin: 40px;
    border: 20px solid yellow;
    padding: 40px; */
}


/* 2. margin 外边距: 元素外部的距离 */
.box1 {
    background-color: red;

    /* 外边距的写法：margin-方向： */
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;

    /* (1).外边距 简写属性 */
    margin: 10px;/* 上下左右 */
    margin: 10px 20px;/* 上下 左右 */
    margin: 10px 20px 30px;/*上 左右 下*/
    margin: 10px 20px 30px 40px;/*上 右 下 左*/

    /* (2).外边距 居中 */
    margin: 0 auto;
}

.box2 {
    width: 120px;
    height: 120px;
    background-color: red;
    /* 块元素左右居中 */
    margin: 0 auto;
}

.box3 {
    width: 120px;
    height: 120px;
    background-color: pink;
    display: block;
    /* margin: 0 auto; */
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: yellow;

    /* overflow: hidden; */
    /* padding: 0.1px; */
    /* border-top: 1px solid transparent; */
    /* padding-top: 30px; */
}

.child {
    width: 60px;
    height: 60px;
    background-color: green;
    /* (3).外边距合并: 垂直方向的外边距 会合并为较大的外边距*/
    margin-left: 30px;
    margin-top: 30px;

    /* 解决办法：
        1. 给父元素添加样式:  overflow: hidden; 
        2. 用父元素的边框或者内边距， 隔开两个外边距 
        3. 直接用父元素的内边距实现外边距的效果 
    */
}

