h1,
p,
div,
li {
    width: 120px;
    height: 120px;
    background-color: red;
    border: 1px solid #000;
}

input,
textarea,
img {
    width: 120px;
    height: 120px;
}

i,
a,
span {
    width: 120px;
    height: 120px;
    background-color: red;
}

span {
    /* 隐藏元素 */
    display: none;

    /* 1. 元素的转换： */
    /* (1).块元素(block) */
    display: block;
    /* (2).行内块元素 */
    display: inline-block;
    /* (3).行内元素 */
    display: inline;
}