

.box{
    width: 120px;
    height: 120px;


    /* 轮廓和边框的区别： 轮廓不可以定义方向，也不占页面空间 */

    /* (1)轮廓样式 */
    outline-style: none;
    outline-style: solid;
    outline-style: dashed;
    outline-style: dotted;
    outline-style: double;

    /* (2)轮廓宽度 */
    outline-width: 10px;
    
    /* (3)轮廓颜色 */
    outline-color: #000;

    /* (4)简写属性: outline: 宽度 样式 颜色 */
    outline: 1px solid #000;

}

input{
    border: none;
    outline: none;
}