/* 属性选择器：用元素的属性选择元素 */

/* 1. [attr]  选中具有attr属性的元素 */
[name]{
    width: 120px;
    height: 120px;
    border: 1px solid #000;
}

/* 2. [attr="val"] attr属性值必须完全等于val（严格相等） */
[name="uName"]{
    background-color: red;
}

/* 3. [attr~="val"] attr的属性值,其中有一个值等于val */
[name~="uName"]{
    border-radius: 20px;
}

/* 4. [attr*="val"] attr的属性值字符串，含有val字段 */
[name*="uName"]{
    border-right: 10px dashed pink;
}

/* 5 [attr^="val"] attr属性值字符串并且以val开头*/
[name^="uName"]{
    background-image: linear-gradient(45deg, red, green);
}

/* 6 [attr$="val"] 表示attr属性值字符串以val结尾*/
[placeholder$=" a"]{
    font-size: 50px;
}

/* 7. [attr|="val"] attr字符串，以 "val-" 开头或者仅有 "val" */
[placeholder|="请输入"]{
    font-style: italic;
}







