    /* float 浮动 */

    .box1 {
        width: 120px;
        height: 120px;
        background-color: teal;

        /* 左浮动：浮动到左边，元素不占一整行  */
        /* float: left; */

        /*  右浮动：浮动到右边  */
        /* float: right; */
    }

    .box2{
        width: 120px;
        height: 120px;
        
        /* 边框: 宽度 样式(solid实线) 颜色 */
        border:1px solid #ff0000;

        /* 多个元素依次左浮动，放不下自动换行 */
        float: left;
        /* float: right; */
    }

    .box3{
        width: 120px;
        height: 120px;
        
        /* 边框: 宽度 样式(solid实线) 颜色 */
        border:1px solid green;

        /* 多个元素依次右浮动，放不下自动换行 */
        /* float: right; */

        float: left;
    }
    
    .container{
        /* 容器整体右浮动 */
        float: right;
    }


    /* TODO.... */
    /* 浮动的问题(清除浮动带来的影响) */
    /* 页面的排版一般遵循 标准文档流 (从左到右,从上到下的布局标准) */
    /* 而浮动的元素 会脱离标准文档流  */
    /* 浮动元素脱离文档流以后, 不再占用页面的空间大小, 所以正常的元素可以占用浮动元素的空间 */
    /* 浮动元素可以覆盖住元素 但是覆盖不住 文字和图片(图片和文字会环绕在浮动元素的周围) */