.box1 {
    /* 优雅降级：电脑本身没有前面的字体, 就尝试后面的字体, 如果都没有, 就用电脑默认字体 */

    /* 1.字体系列: 使用多个值，用逗号隔开 */
    font-family: "楷体", "新宋体", Microsoft JhengHei, "华文彩云", "黑体", "宋体";
}



.box2 {
    /* 2.字体重量（字体加粗） */

    /* (1)更细的字体 */
    font-weight: lighter;
    /* (2)默认字体 */
    font-weight: normal;
    /* (3)加粗的字体 */
    font-weight: bold;
    /* (4)更粗的字体 */
    font-weight: bolder;
    /* (5)数值 100-900 */
    font-weight: 400;
}

.box3 {
    /* 3.字体风格 (字体倾斜) */
    /* (1). 默认字体 */
    font-style: normal;
    /* (2).斜体: 字体本身设计了斜体这套字体 */
    font-style: italic;
    /* (3).倾斜的字体: 字体本身没有设计过斜体字体，强制把字体倾斜 */
    font-style: oblique;
}

.box4 {
    /* 4. 字体大小：浏览器默认字体大小16px, 最小是12px */
    font-size: 16px;
    font-size: 12px;

    /* 可以为0 */
    font-size: 0;
}


.box5 {
    /* 5. 字体简写属性 */
    /* font：字体样式、字体变体(英文变大写以小字号显示)、字体重量、字体大小/行高 字体系列 */

    /* 字体大小和字体系列 必填 */
    font: 12px "楷体";
    font: italic 12px "楷体";
    font: italic bold 12px/20px "楷体";

    /* 好记  font：斜体 加粗 字体大小(必填)/行高 字体系列(必填) */
}