/* 1. 引入第三方字体 */
@font-face {
    /* (1)给引入的字体命名 */
    font-family: "阿里体";
    /* (2)字体文件的地址 */
    src: url("http://at.alicdn.com/wf/webfont/w65N7ksh0BFD/qzSjYpWticN1.woff2"), 
    url("https://at.alicdn.com/wf/webfont/w65N7ksh0BFD/OM2ozCKx4vKp.woff");
    /* 谷歌浏览器不支持 woff、woff2字体文件，支持ttf字体文件，在使用第三方字体时，多个字体文件的链接用逗号隔开 */
}

/* 可以导入不同的字体文件 */
@font-face {
    font-family: "工商体";
    src:  url("../font/myfont01.ttf"),url("../font/FZBaiZWGTJW.TTF");
}


/* 2. 使用第三方字体 */
.box1{
    font-family: "阿里体";
}
.box2{
    font-family: "工商体";
}