body {
    margin: 0;
}

div {
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #000;
}

.box1 {
    /* 1. 背景颜色 */
    background-color: orange;
}


.box2 {
    /* 2. 背景图片 */
    background-image: url("../images/1.png");
}

.box3 {
    background-image: url("../images/1.png");

    /* 3. 背景平铺 */

    /* (1)默认值：背景平铺 */
    background-repeat: repeat;

    /* (2)不平铺 */
    background-repeat: no-repeat;

    /* (3)水平平铺 */
    /* background-repeat: repeat-x; */

    /* (4)垂直平铺 */
    /* background-repeat: repeat-y; */
}

.box4 {
    width: 60px;
    height: 60px;
    background-color: red;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;

    /* 4. 背景定位 */
    /* background-position: x y; */
    /* background-position-x: ; */
    /* background-position-y: ; */

    /* (1). 像素值 */
    /* 背景图片左上角 在容器里面的位置 来计算 */
    background-position: 0 0;
    background-position: 60px 60px;
    background-position: 30px 30px;


    /* (2). 百分比 */
    /* 背景图片百分比的位置 和 容器百分比的位置 重合 */
    background-position: 0% 0%;
    background-position: 100% 100%;
    background-position: 50% 50%;

    /* (3).预设值: 左中右、上中下*/
    background-position: left top;
    background-position: right bottom;
    background-position: center bottom;
    background-position: center center;
}

.box5 {
    width: 100px;
    height: 60px;

    background-color: red;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;

    /* 5. 背景大小 */
    /* background-size: width height; */

    /* (1). 尺寸 */
    /* background-size: 30px 60px; */
    /* background-size: 100% 50%; */

    /* (2). 预设值 */
    /* 等比例缩放，完全铺满整个盒子 （图片有可能被裁切）*/
    background-size: cover;
    /* 只有一条边铺满, 另一条边不处理，图片可以显示完整  （但是没有完全填充） */
    background-size: contain;
    /* 图片显示完整， 但是会变形 */
    background-size: 100% 100%;

}


.box8{
    width: 120px;
    height: 120px;

    /* 背景简写属性 (重点是1-5) */
    /* background: 颜色 图片 平铺 位置/大小; */

    background: red;
    background: url("../images/1.png");
    background: url("../images/1.png") no-repeat center center;
    background: url("../images/1.png") no-repeat 50% 50%/50% 50%;
}