table{
    width: 600px;
    height: 300px;
    border: 1px outset #000;


    /* 1. 边框折叠： 合并边框 */
    border-collapse: collapse;

    /* 2. 表格的类型:  */
    /* (1)默认：自动表格 （表格的大小由内容撑开） */
    /* 灵活但渲染速度慢 */
    /* table-layout: auto; */

    /* (2)固定表格：内容不会撑开表格大小, 内容会溢出 */
    /* 渲染速度快，但不灵活 */
    table-layout: fixed;
}

td{
    border:1px outset #000;
}