

div{
    /* 用父元素的宽度， 控制图片的大小 */
    width: 120px;

    /* 高度由内容撑开 */
    background-color: red;
}

/* 图片自适应代码 */
img{
    /* 宽度等于父元素宽度的100% */
    width: 100%;
    /* 图片的高度自动 (保持图片宽高比例，由宽决定高) */
    height: auto;
    /* 防止图片底部出现4px的空隙 */
    display: block;
}