body{
    margin: 0;
}


.box{
    /* 30vw: 浏览器视口 宽度的30% */
    width: 30vw;

    /* 50vh：浏览器视口 高度的50% */
    height: 50vh;

    background-color: bisque;
}



.box2{
    font-size: 20px;
}
.box2{
    /* 1个em就等于1个字体大小 */
    width: 10em; 
    height: 10em; 
    background-color: red;
}


html{
    /* font-size: 10px; */
}
.box3{
    /* font-size: 20px; */
}
.box4{
    /* font-size: 30px; */

    /* (1个rem就等于1个html标签的字体大小)  */
    width: 1rem;
    height: 1rem;

    font-size: 0.16rem;
    background-color: yellow;
}