div {
    /* 十六进制:  0 - 9, a, b, c, d, e, f */
    /* 语法: # 红色 绿色 蓝色 */

    color: #ff0000;
    color: #00ff00;
    color: #0000ff;

    color: #ffff00;
    color: #ff00ff;
    color: #00ffff;

    color: #ffffff;
    color: #000000;


    /* 正确简写 */
    color: #aacc66;
    color: #ac6;

    /* 错误简写 */
    color: #aacc67;
    color: #ac67;
}

div {
    /* rgb(红色, 绿色, 蓝色), 数值是 0-255 */
    color: rgb(255, 0, 0);
    color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
    color: rgb(170, 204, 103);
}

div{
    /* rgba(红色, 绿色, 蓝色, 透明度) */
    /* 透明度0-1:  0透明, 1不透明 */
    color: rgba(255, 0, 0, 0);
    color: rgba(255, 0, 0, 0.5);
    color: rgba(255, 0, 0, 1);
}

div{
    /* 预定义值 (颜色单词) */
    color: red;
    color: orangered;
    color: yellowgreen;

    /* 透明色 */
    color: transparent;
}