h2 {
    /* width: 400px; */

    /* 1. 文本对齐方式(text-align) */
    /* (1).左对齐 */
    text-align: left;
    /* (2).居中对齐 */
    text-align: center;
    /* (3).右对齐 */
    text-align: right;
}

.box1 {
    width: 300px;
    border: 1px solid #000;

    /* (4).多行文本两端对齐 */
    text-align: justify;
    /* (5).末行文本两端对齐 */
    text-align-last: justify;


    /* 2. 文本首行缩进（text-indent） */
    text-indent: 32px;
    text-indent: 2em;
    /* 浏览器默认字体大小 16像素 */
}

.box2 {
    width: 300px;
    border: 1px solid #000;

    /* 3. 字间距(letter-spacing)：字符 间距 */
    letter-spacing: 8px;
}

.box3 {
    width: 300px;
    border: 1px solid #000;

    /* 4. 单词间距(word-spacing)： */
    word-spacing: 10px;


    /* 5. 文本转换(text-transform) */
    /* (1).英文转大写 */
    text-transform: uppercase;
    /* (2).英文转小写 */
    text-transform: lowercase;
    /* (3).首字母大写 */
    text-transform: capitalize;
}

.box4,
a {
    /* 6.文本装饰线(text-decoration) */

    /* (1).下划线 */
    text-decoration: underline;
    /* (2).上划线 */
    text-decoration: overline;
    /* (3).删除线 */
    text-decoration: line-through;
    /* (4).去除文本装饰线 */
    text-decoration: none;


    /* a标签的颜色不用默认颜色，inherit表示继承父元素 */
    color: inherit;
}


.box5 {
    width: 300px;
    border: 1px solid #000;
    /* 7.文本空白(white-space): 文本空白（换行，空格）部分如何处理 */

    /* (1).默认值: 不保留文本空白， 文字溢出自动换行 */
    white-space: normal;

    /* (2).nowarp: 不保留文本空白， 文字溢出不会换行 */
    white-space: nowrap;

    /* (3). 保留文本空白, 文字溢出不会换行 */
    white-space: pre;

    /* (4).保留文本空白, 文字溢出自动换行 */
    white-space: pre-wrap;

    /* (5).只保留换行符，会自动换行 */
    white-space: pre-line;
}


.box6 {
    width: 120px;
    height: 120px;
    display: block;
    border: 1px solid #000;
    font-size: 20px;
    
    /* 8.行高(line-height)：行间距、字体所占据的那一行文字的高度 */
    line-height: 50px;

    /* (1).行高等于高度, 文字上下居中 */
    line-height: 120px;
}